//out: ../css/styles.css, compress: true,

*,
*:after,
*:before {
    box-sizing: border-box;
}

:root{
    --bg: #f5f5f5;
    --text: #0d161b;
    --header-bg: #ffffff;
    --brand: #641dab;
    font-size: 16px;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background: var(--header-bg);
    padding: 10px 20px;
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05);
}

.brand {
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
    position: relative;
    color: var(--brand);
    display: inline-flex;
    align-items: center;
    &::before{
        content: '';
        display: inline-block;
        width: 0.5rem;
        height: 1.5rem;
        border: 1px solid var(--brand);
        border-radius: 4px;
        margin-right: 0.35rem;
        box-shadow: 0 0.25rem 0 inset , 0 -0.25rem 0 inset;
    }
}